<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/menu.css" />
    <title>Bank Sampah</title>
  </head>
  <body>
    <div class="container">
      <div class="container-logo">
        <img src="../view/image/logo.png" alt="" id="logo" />
        <img src="../view/image/logo2.png" alt="" id="logo2" />
      </div>
      <div class="container-content">
        <div class="container-side-bar">
          <ul>
            <li><a href="menu.html" id="menu">MENU</a></li>
            <li><a href="penabungan.html" id="penabungan">PENABUNGAN</a></li>
            <li><a href="totalPenabungan.html">TOTAL TABUNGAN</a></li>
          </ul>
        </div>
        <div class="content">
          <img src="../view/image/home.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
